.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.bg{
 min-height: 100vh;
 height:100vh;
 background-color: #e4e4e4;
}

.landingImg{
  width:20%;
  margin-top:20px;
  margin-bottom: 20px;
}

p{
  margin:inherit;
  padding:inherit;
}

a{
  color:#FD9A35;
  text-decoration: none;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
